

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #9370db; 
  border: 2px solid #663399; 
  border-radius: 8px;
  overflow: hidden;
  width: 400px;
  height: 240px;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

.card:hover {
  background-color: #7e5ea5; 
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 34px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover img {
  transform: scale(1.1);
}

.info {
  padding: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 1rem;
  color: #fff; 
  margin-bottom: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
